<a href="https://colab.research.google.com/github/Warabhi/Letsupgrade/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [3]:
import numpy as np
import pandas as pd
print(pd.__version__)

1.1.4

Q2

In [4]:
arr = np.array([2,5,4,8,9,5])
s =pd.Series(arr)
print(s)
print(type(s))

0    2
1    5
2    4
3    8
4    9
5    5
dtype: int64
<class 'pandas.core.series.Series'>

Q3

In [5]:
data = {'Product': ['Computer','Printer','Monitor','Desk','Phone'],
          'Price': [1200,250,400,700,350]
        }

df = pd.DataFrame(data, columns = ['Product','Price'], index = ['Item_1','Item_2','Item_3','Item_4','Item_5'])

df.reset_index(inplace=True)

print(df)

    index   Product  Price
0  Item_1  Computer   1200
1  Item_2   Printer    250
2  Item_3   Monitor    400
3  Item_4      Desk    700
4  Item_5     Phone    350

Q4

In [10]:
import seaborn as sns

In [12]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [13]:
mpg = sns.load_dataset('mpg')

Q5

In [14]:
mpg

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [16]:
mpg["origin"].unique()

array(['usa', 'japan', 'europe'], dtype=object)

USA , JAPAN ,Europe country origin cars are a part of this dataset

Q6

In [20]:
data = mpg[mpg["origin"].str.contains('usa')] 
data

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]